@font-face {
  font-family: gorditas;
  src: url(fontovi/Gorditas-Bold.ttf);
}

.naslov_aboutme h2 {
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
  font-family: gorditas;
  color: #d16e5f;
}

.tekst {
    background-color: white;
    box-shadow: inset 5px 5px 15px lightgray; 
    border: 2px solid #daad86;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    text-align: left;
  }

.tekst h3{
    text-align: center;
  }

  .tekst p {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    text-align: left;
  }

  .tekst img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border-style: solid;
    border-radius: 5px;
  }

