@font-face {
  font-family: gorditas;
  src: url(fontovi/Gorditas-Bold.ttf);
}

.naslov_aboutme h2 {
  margin: 10px 10px;
  padding: 10px 10px;
  text-align: center;
  font-family: gorditas;
  color: #d16e5f;
}

.tekst {
    background-color: white;
    box-shadow: inset 5px 5px 15px lightgray; 
    border: 2px solid #daad86;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    text-align: left;
  }

.tekst h3{
    text-align: center;
  }

  .tekst p {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    text-align: left;
  }

  .tekst img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border-radius: 5px;
  }

  .social {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;  
    font-size: 20px;  
    cursor: url(slike/cursor.png), auto;
  }

  .social img {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: inline-block;
    width: 20px;
    vertical-align: middle;
    cursor: url(slike/click_c.png), auto;
  }

.social_naslov {
    text-align: center;
    font-family: gorditas;
    color: #d16e5f;
  }

.social a:hover {
  cursor: url(slike/click_c.png), auto;
}

.social a, a:visited {
  color: black;
  text-align: center;
  text-decoration:none;
  font-style: italic;
  display: inline-block;
}

.social img {
  cursor: url(slike/click_c.png), auto;
}
