@font-face {
    font-family: gorditas;
    src: url(fontovi/Gorditas-Bold.ttf);
}

.naslov_projects h2 {
    margin: 10px 10px;
    padding: 10px 10px;
    text-align: center;
    font-family: gorditas;
    color: #d16e5f;
}
