@font-face {
    font-family: sacramento;
    src: url(fontovi/Sacramento-Regular.ttf);
  }

@font-face {
    font-family: zilla;
    src: url(fontovi/ZillaSlab-Light.ttf);
}

@font-face {
    font-family: gorditas;
    src: url(fontovi/Gorditas-Bold.ttf);
}

body {
    font-family: zilla;
    font-size: 14px;
    background-color: #F3DCD4;
}

.header {
    font-family: sacramento;
    font-size: 40px;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
}

.header h1 {
    color: #DD7564;
    margin: 0px 0px;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #e4c5ab;
    border-radius: 10px;
    border: 2px solid #daad86;
}

li {
    float: left;
}

li a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 10px;
}

li a:hover:not(.active) {
    background-color: #daad86;
}

.active {
    background-color: #c79d7a;
}


#footer p{

    font-size: 14px;
    color: #DD7564;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    text-align: left;
 }

 hr {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    text-align: left;
  }

  #container1 {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
  }