@font-face {
    font-family: sacramento;
    src: url(fontovi/Sacramento-Regular.ttf);
  }

@font-face {
    font-family: zilla;
    src: url(fontovi/ZillaSlab-Light.ttf);
}

body {
    font-family: zilla;
    font-size: 14px;
    background-color: #F3DCD4;
}

.header {
    font-family: sacramento;
    font-size: 40px;
    text-align: center;
    margin: 0px auto;
    padding: 20px;
}

.header h1 {
    color: #DD7564;
    margin: 0px 0px;
}

ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #e4c5ab;
    border-radius: 10px;
    border: 2px solid #daad86;
}

li {
    float: left;
}

li a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
    color: black;
    border-radius: 10px;
}

li a:hover:not(.active) {
    background-color: #daad86;
}

.active {
    background-color: #c79d7a;
}

.contact {
  margin: auto;
  width: 40%;
  background-color: white;
  border: 2px solid #E8a87c;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 3px 3px 6px gray;
}

.contact h2 {
    margin: 10px 10px;
    padding: 10px 10px;  
    text-align: center;
    text-decoration: underline;
}
  
.contact p{
    margin: 0 10px;
    padding: 0 10px;
}

.contact input[type="text"] {
    width: 93%;
}
 
.contact input[type="text"], select, textarea {
    margin: 10px;
    padding: 5px 10px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    display: block;
    box-shadow: inset 2px 2px 5px lightgray; 
}

textarea {
    width: 93%;
    height: 100px;
}

select {
    cursor: pointer;
}

button {
    margin: 10px 10px;
    padding: 10px 10px; 
    border: 1px solid darkgrey;
    border-radius: 10px;
    box-shadow: inset 3px 3px 6px lightgray;
    cursor: pointer;
}

button:active {
    margin: 10px 10px;
    padding: 10px 10px; 
    color: red;
    border: 1px solid darkgray;
    border-radius: 10px;
    box-shadow: inset 3px 3px 6px rgb(73, 73, 73);
    cursor: pointer;
}

#container1 {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
  }

#footer p{

    font-size: 14px;
    color: #DD7564;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    text-align: left;
 }

 hr {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    text-align: left;
  }

  .tekst {
    background-color: white;
    box-shadow: inset 5px 5px 15px lightgray; 
    border: 2px solid #daad86;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    text-align: left;
  }

  .tekst h3{
    text-align: center;
  }

  .tekst p {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: block;
    text-align: left;
  }

  .tekst img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    border-style: solid;
    border-radius: 5px;
  }

